@import '~iview/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #FF9933;
@link-color: #FF9933;

// 按钮
// @btn-primary-color: #2c3e50;
// @primary-color: #8c0776;

// Layout
// @layout-header-background: #FF9933;
// @layout-header-background: #011528;

@menu-dark-title: #011528;

// 字体
@font-size-base: 14px;
@font-size-small: 14px;

::selection {
  background:#FF9933;
  color:#FFFFFF;
}

